html {
    scroll-behavior: smooth;
  }  
body{
    background-color: aquamarine;
}
.nav{
    display: flex;
    
}

.nav li{
    margin-left: 20px;
}

#menu{
    text-align: center;
}
.no-margin{
	margin-left: 0px;
}

footer{
    text-align: center;
}
#name{
    font-style: italic;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
